<div class="menu-bar">
  <div class="top-bar">
    <img class="img-desktop" src="../../assets/images/logo-fortbras.png" alt="FortBras Services">
    <div class="contact-info-header">ENTRE EM CONTATO: (62) 3333-3333</div>
    <div class="address">RUA NOME DA RUA NUMERO 9999, QUADRA 99 LOTE 99 - VILA BAIRRO - GOIANIA - GO</div>
  </div>
  <div class="nav-bar">
    <div class="logo">
      <img src="../../assets/images/logo-fortbras.png" alt="FortBras Services">
      <div>FORTBRAS ADMINISTRAÇÃO E SERVIÇOS</div>
    </div>
    <ul>
      <li><a href="/princpal">INÍCIO</a></li>
      <li><a href="/princpal">SOBRE A EMPRESA</a></li>
      <li><a href="/princpal">SERVIÇOS</a></li>
      <li><a href="/princpal">NOTÍCIAS</a></li>
      <li><a href="/princpal">CONTATO</a></li>
    </ul>
  </div>
</div>
<div class="hero-section" id="heroSection" [ngStyle]="{'background-image': backgroundImage}">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>SERVIÇOS TERCEIRIZADOS PARA EMPRESAS E INSTITUIÇÕES EM GERAL</h1>
    <div class="cta-buttons">
      <button class="cta-service">VEJA OS SERVIÇOS</button>
      <button class="cta-jobs">VEJA AS VAGAS DE EMPREGO</button>
    </div>
  </div>
  <div style="display: flex;justify-content: center;">
    <div class="nav-buttons">
      <button (click)="nextImage()" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon aria-hidden="false" fontIcon="arrow_left"></mat-icon>
      </button>
      <button (click)="prevImage()" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon aria-hidden="false" fontIcon="arrow_right"></mat-icon>
      </button>
    </div>
  </div>
</div>