<div class="footer-container">
  <!-- Seção de Footer -->
  <div class="footer-content">
    <div class="footer-left">
      <div class="footer-logo">
        <img src="../../assets/images/imagemfooter.jpg" alt="Seven Services Logo">
        <p class="footer-slogan">Terceirização de Serviços: Limpeza, Portaria/Vigia, Mão de Obra em Geral dentre outros.
        </p>
      </div>
    </div>

    <div class="footer-middle">
      <h3>Menu</h3>
      <div class="line"></div>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sobre-a-empresa">Sobre a Empresa</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/noticias">Notícias</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>

    <div class="footer-right">
      <h3>Faça uma Visita</h3>
      <div class="line"></div>
      <a href="https://goo.gl/maps/R6P4BaJaigpwbpH28" target="_blank">
      </a>
    </div>

    <div class="footer-contact">
      <h3>Contato</h3>
      <div class="line"></div>
      <p><i class="icon-phone"></i> <a href="tel:+556430523088"> (64) 3213-9289</a></p>
      <p><i class="icon-phone"></i> <a href="https://api.whatsapp.com/send?phone=5564996428570"> (64) 9 9999 - 9999</a>
      </p>
      <p><i class="icon-phone"></i> <a href="https://api.whatsapp.com/send?phone=5564981691468"> (64) 9 9999 - 9999</a>
      </p>
      <p><i class="icon-email"></i> <a href="mailto:contato@sevenservices.eco.br">contato@sevenservices.eco.br</a></p>
      <p><i class="icon-location"></i> <a href="https://maps.app.goo.gl/ZwV5u7tKd45GvCZT9" target="_blank">Rua Riachuelo
          numero 2907, Quadra 4F lote 09 - Vila Fatima - Jataí - GO</a></p>
      <ul class="social-links">
        <li><a href="https://www.instagram.com/grupo.fortbrass/"><i class="icon-instagram"></i> Instagram</a></li>
      </ul>
    </div>
  </div>
</div>