app-footer {



  .footer-container {
    background-color: #002060;
    color: white;
    padding: 40px;
    // font-family: Rajdhani, sans-serif;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;
  }

  .footer-left,
  .footer-middle,
  .footer-right,
  .footer-contact {
    width: 15rem;

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;

    }

    .line {
      width: 30%;
      height: 2px;
      background-color: #fff;
      margin-bottom: 20px;
    }

    img {
      width: 15rem;
      height: 15rem;
    }
  }

  .footer-logo img {
    max-width: 20rem;
    height: auto;
    margin-bottom: 10px;
    border-radius: 1rem;
  }

  .footer-slogan {
    color: #fff;
    text-align: justify;
    font-size: 1rem;
    font-weight: 600;
  }

  .footer-middle ul {
    list-style: none;
    padding: 0;
  }

  .footer-middle li {
    margin: 10px 0;
  }

  .footer-middle a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  .footer-middle a:hover {
    text-decoration: underline;
  }

  .footer-contact p {
    font-size: 14px;
    margin: 10px 0;
  }

  .footer-contact a {
    color: #fff;
    text-decoration: none;
  }

  .footer-contact a:hover {
    text-decoration: underline;
  }

  .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }

  .social-links li {
    font-size: 18px;
  }

  .icon-phone::before {
    content: '\260E';
    /* Unicode phone icon */
  }

  .icon-email::before {
    content: '\2709';
    /* Unicode email icon */
  }

  .icon-location::before {
    content: '\1F4CD';
    /* Unicode location icon */
  }

  .icon-instagram::before {
    content: '\1F4F7';
    /* Placeholder for Instagram icon */
  }

  /* Responsive for mobile */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }

    .footer-left,
    .footer-middle,
    .footer-right,
    .footer-contact {
      width: 100%;
      margin-bottom: 20px;
    }

    .footer-logo img {
      width: 80px;
    }

    .footer-slogan {
      text-align: center;
    }

    .social-links {
      justify-content: center;
    }
  }

}