<div class="about-section">
  <div class="about-content">
    <div class="about-image">
      <!-- Bloco com 2 imagens empilhadas à esquerda -->
      <div class="left-images">
        <img src="../../assets/../../assets/images/porteiro-02.jpg" alt="Imagem do profissional">
        <img src="../../assets/images/fundo-01.jpg" alt="Imagem do profissional">
        <img src="../../assets/images/hero-atuacao-do-bombeiro-civil-_1_.png" alt="Imagem do profissional">
      </div>

      <!-- Imagem maior à direita -->
      <div class="right-image">
        <img src="../../assets/images/sobre-01.jpg" alt="Imagem do profissional">
      </div>
    </div>
    <div class="about-text">
      <h2>CONHEÇA A FORTBRASS</h2>
      <p>A Fortbras é uma empresa dedicada à terceirização de serviços essenciais, como Limpeza,
        Portaria/Vigia, Site Acquisition, Permits e Mão de Obra em Geral. Se você está buscando qualidade e
        profissionais experientes para resolver suas demandas, a Fortbras oferece soluções confiáveis para
        atender suas necessidades de maneira eficiente.</p>
      <div class="about-icons">
        <div class="icon">
          <img src="https://cdn-icons-png.flaticon.com/512/2470/2470926.png" alt="Profissionais de Qualidade">
          <p>PROFISSIONAIS DE QUALIDADE</p>
        </div>
        <div class="icon">
          <img src="https://cdn-icons-png.flaticon.com/512/3734/3734873.png" alt="Atendimento em todo Brasil">
          <p>ATENDIMENTO EM TODO BRASIL</p>
        </div>
      </div>
      <div class="contact-info">
        <!-- <button class="cta-button">SAIBA MAIS</button> -->
        <p>FALE CONOSCO <span>(62) 3333-3333</span></p>
      </div>
    </div>
  </div>
</div>