<div class="services-section">

  <!-- Seção de Título -->
  <div class="services-header">
    <h2>ENCONTRE AQUI OS SERVIÇOS QUE VOCÊ PRECISA!</h2>
  </div>

  <!-- Carrossel -->
  <div class="carousel-container">
    <button class="carousel-button left" (click)="moveLeft()">&#8249;</button>

    <div class="services-cards">
      <div *ngFor="let image of visibleImages" class="service-card">
        <img alt="tee" [src]="image.src" [alt]="image.alt">
        <h3>{{ image.title }}</h3>
        <button class="cta-button">SAIBA MAIS</button>
      </div>
    </div>

    <button class="carousel-button right" (click)="moveRight()">&#8250;</button>
  </div>

  <!-- Seção de Dúvidas -->
  <div class="contact-section">
    <h3>FICOU COM ALGUMA DÚVIDA?</h3>
    <p>A equipe de especialistas está sempre à disposição para tirar qualquer dúvida! Fique à vontade para nos
      mandar um e-mail através do nosso site.</p>
    <button class="cta-button">ENTRAR EM CONTATO</button>
  </div>

  <!-- Seção de Áreas de Atuação -->
  <div class="areas-section">
    <h3>CONHEÇA NOSSAS PRINCIPAIS ÁREAS DE ATUAÇÃO</h3>
    <p>A nossa empresa fornece serviços terceirizados em diversas áreas de atuação.</p>
    <div class="areas-cards">
      <div class="area-card">
        <img src="https://cdn-icons-png.flaticon.com/512/8398/8398648.png" alt="Área 1">
        <h4>Hipermecados</h4>
      </div>
      <div class="area-card">
        <img src="https://cdn-icons-png.flaticon.com/512/4544/4544556.png" alt="Área 2">
        <h4>Concessionárias</h4>
      </div>
      <div class="area-card">
        <img src="https://cdn-icons-png.flaticon.com/512/1797/1797796.png" alt="Área 2">
        <h4>Obras</h4>
      </div>
      <div class="area-card">
        <img src="https://cdn-icons-png.flaticon.com/512/6389/6389115.png" alt="Área 2">
        <h4>Local 1</h4>
      </div>
    </div>
  </div>

</div>